@{
    ViewBag.Title = "Henri Pizza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="bg-dark text-white p-5 text-center">
    <h1>Bentornati a Henri Pizza!</h1>
    <p>Assaporate la vera pizza italiana fatta con passione e ingredienti di alta qualità.</p>
</header>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
       Ordine effettuato con successo!
    </div>
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm h-md-250">
                
                <div class="card-body">
                    <h3 class="card-title">Pizza Margherita</h3>
                    <p class="card-text">Una classica pizza Margherita con pomodoro fresco, mozzarella e basilico.</p>
                    <a href="#" class="btn btn-primary">Ordina ora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm h-md-250" data-bs-toggle="collapse" data-bs-target="#pepperoniDesc">
               
                <div class="card-body">
                    <h3 class="card-title">Pizza Pepperoni</h3>
                    <p class="card-text collapse" id="pepperoniDesc">Gustosa pizza con pepperoni piccante, mozzarella e salsa di pomodoro.</p>
                    <a href="#" class="btn btn-primary">Ordina ora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm h-md-250">
               
                <div class="card-body">
                    <h3 class="card-title">Pizza Vegetariana</h3>
                    <p class="card-text">Ricca di verdure fresche per un'esperienza gustosa e leggera.</p>
                    <a href="#" class="btn btn-primary">Ordina ora</a>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-info" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="pepperoniDesc moreDesc">Mostra più informazioni</button>
    </div>
</div>

@section Scripts {
   
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
}
